[user]
  name =  <%= config[:name] %>
  email = <%= config[:email] %>
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[color]
	ui = true
[commit]
	template = ~/.gitmessage
[alias]
	lg = log --graph --pretty=format:'%C(yellow)%h%Cred%d%Creset %s %C(white) %C(cyan)%an%Creset, %C(green)%ar%Creset'
	today = !git log --since=midnight --author=\"$(git config user.name)\" --oneline
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
  default = current
[url "git@github.com:"]
	insteadOf = https://github.com/
